<div class="data__container">
    <!-- Search and Filter Section -->
    <div class="data__header">
      <h1 class="data__title">Doctors List</h1>
  
      <!-- Add Doctor-->
      <div class="button__container">
        <a [routerLink]="'/create-user'" class="create__docter__button">
          Add New PageMaster List
        </a>
      </div>
    </div>
  
    <!-- Data Content -->
    <div class="data__content">
      <div class="search__bar">
        <img
          src="https://cdn-icons-png.flaticon.com/512/54/54481.png"
          alt="search-icons"
          class="search__icons"
        />
        <input 
        type="text" 
        placeholder="Search" 
        class="search__input"
        [(ngModel)]="searchQuery"
         />
      </div>
  
      <!-- User Table -->
      <table class="user__table">
        <thead>
          <tr class="table__header">
            <!-- <th class="table__header__cell">S. NO</th> -->
            <th class="table__header__cell">Page Name</th>
            <th class="table__header__cell">Page Slug </th>
            <th class="table__header__cell">created By</th>
            <th class="table__header__cell">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="table__row"
            *ngFor="let user of filteredUsers; let i = index"
          >
            <!-- <td class="table__cell">
              <p class="main__cell">{{ i+1 }}</p>
            </td> -->
            <td class="table__cell">
              <p class="main__cell">{{ user.pagename }}</p>
              <p>Page Master ID : {{ user.pageMasterId }}</p>
            </td>
            <td class="table__cell">{{ user.pageSlug }}</td>
            <td class="table__cell main__cell">{{ user.createdByName }}</td>
            <td class="table__cell">
              <!-- Action Icon -->
              <div class="action__container">
                <button class="action__button" (click)="toggleDropdown(i)">
                  <img
                    src="https://cdn-icons-png.flaticon.com/512/7066/7066144.png"
                    alt="action__icon"
                    class="table__action__icon"
                  />
                </button>
  
                <!-- Edit & DElete -->
                <div
                  class="dropdown__menu"
                  *ngIf="dropdownIndex === i"
                  (click)="$event.stopPropagation()"
                >
                  <button class="dropdown__item" (click)="onEdit(user)">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/1159/1159633.png"
                      alt="edit-icon"
                      class="dropdown__icon"
                    />
                    Edit
                  </button>
                  <button class="dropdown__item" (click)="onDelete(user)">
                    <img
                      src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png"
                      alt="delete-icon"
                      class="dropdown__icon"
                    />
                    Delete
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  
      <div class="no__data__found" *ngIf="filteredUsers.length === 0">
        <img
          src="https://img.freepik.com/free-vector/no-data-concept-illustration_114360-2506.jpg"
          alt="no-data-found"
          class="no__data__image"
        />
        <p>No Data Found.</p>
      </div>
    </div>
  </div>
  