<div class="navbar">
  <div class="navbar__logo">
    <img src="https://brokersaathi.com/assets/images/brokersaathi-logo.png" alt="logo" />
  </div>
  <div class="navbar__actions">
    <div class="navbar__profile">
      <img src="https://cdn-icons-png.freepik.com/512/219/219988.png" alt="User Avatar" class="navbar__profile-avatar" />
      <div class="navbar__dropdown">
        <a href="#" class="navbar__dropdown-item">Profile</a>
        <a href="#" class="navbar__dropdown-item">Logout</a>
      </div>
    </div>
  </div>
</div>
