@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.add__page__master__container {
    background-color: #ffffff;
    padding: 24px 50px;
  }
  
  .add__user__title {
    font-size: 26px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    padding-bottom: 24px;
    color: rgb(78, 77, 77);
  }
  .add__user__form{
    border: 2px solid #ebeded;
    padding: 25px;
    border-radius: 5px;
  }
  .input__fields__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  
  .input__field {
    display: flex;
    flex-direction: column;
  }
  
  .input__label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333;
  }
  
  .input__feild__combo{
    display: flex;
    gap: 80px;
  }

  .input__select, .input__text {
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    
    border: 1px solid #a7a7a7;
    width: 320px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .input__select:focus, .input__text:focus {
    border-color: #505050;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
    
  .buttons__container {
    display: flex;
    gap: 24px;
    padding-top: 50px;
  }
  
  .submit__button, .reset__button {
    padding: 18px 60px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .submit__button {
    background-color: #111827;
    color: white;
    border: 2px solid #111827;
  }
  
  .submit__button:hover {
    background-color: #0d121d;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .reset__button {
    background-color: transparent;
    color: black;
    border: 2px solid #787979;
  }
  
  .reset__button:hover {
    background-color: #111827;
    color: white;
    border: 2px solid #111827;
  }
  
  .data__container {
    background-color: #ffffff;
    padding: 80px 18px;
  }
  
  .data__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .data__content{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    border-radius: 5px;
    border: 2.3px solid #ebeded;
  }

  .data__title {
    font-size: 26px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: rgb(78, 77, 77);
    text-transform: capitalize;
    color: #333;
  }
  
  .search__bar{
    width: 22%;
    margin: 10px 20px;
    border-radius: 50px;
    background-color:#f4f6fa;
    padding: 4px 25px;
  }

  .filter__dropdown {
    width: 20%;
    border: 2px solid#e3e4e8;
    border-radius: 6px;
  }
  
  .search__input{
    width: 90%;
    padding: 12px 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    background-color:#f4f6fa;
  }
  .search__icons{
   width: 18px;
  }
 
  .search__input:focus {
    outline: none;
  }
  
  .show__docter__button{
    background-color: #111827;
    color: white;
    padding: 18px 16px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease-in-out;
  }

  .user__table {
    width: 100%;
    margin-top: 32px;
    background-color: white;
    border-collapse: collapse;
  }
  
  .table__header {
    background-color: #f4f6fa;
    
  }
  
  .table__header__cell {
    padding: 18px 40px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(91, 91, 91);
    text-align: left;

  }
  
  .table__row {
    border-bottom: 2px solid #f1f5f9;
  }
  
  .table__cell {
    padding: 18px 40px;
    font-size: 17px;
    text-align: left;
    color: rgb(108, 107, 107);
  }
  .main__cell{
    color: black;
    font-weight: 500;
  }
  
  .table__action__icon {
    cursor: pointer;
    font-size: 20px;
    color: #111827;
    width: 18px;
  }
  
  .table__action__icon:hover {
    color: #f56565;
  }
  
  .no__data__found {
    text-align: center;
    padding: 32px;
    color: gray;
  }
  
  .no__data__image {
    width: 350px;
  }
  
  .action__container {
    position: relative;
  }
  
  .action__button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .dropdown__menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  
  .dropdown__menu button {
    display: block;
    width: 100%;
    padding: 8px 12px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .dropdown__menu button:hover {
    background-color: #f0f0f0;
  }
  