<div class="sidebar__container">
  <a class="sidebar__logo" href="#">
    <img src="https://brokersaathi.com/assets/images/brokersaathi-logo.png" alt="logo-img" class="sidebar__logo-img">
  </a>

  <div class="sidebar__nav">
    <div class="sidebar__section">
      
      <!-- Dashboard -->
      <div class="dashboard">
        <a class="sidebar__link" routerLink="create-page-master">
          <i class="text-white pi pi-home text-xl"></i>
          <span class="dashboard__text">Dashboard</span>
        </a>
      </div>

      <!-- Single Docter -->
      <div class="user__container">
        <a class="sidebar__link" routerLink="docters">
          <i class="text-white pi pi-user text-xl"></i>
          <span class="dashboard__text">Docters Information</span>
        </a>
      </div>

      <!-- Docter List -->
      <div class="user__container">
        <a class="sidebar__link" routerLink="docter-list">
          <i class="text-white pi pi-list text-xl"></i>
          <span class="dashboard__text">Docters List</span>
        </a>
      </div>

      <!-- Show Page Master List -->
      <div class="user__container">
        <a class="sidebar__link" routerLink="patient-list">
          <i class="text-white pi pi-users text-xl"></i>
          <span class="dashboard__text">Patient List</span>
        </a>
      </div>

    </div>
  </div>

  <div class="sidebar__settings">
    <a class="sidebar__link" href="#">
      <i class="text-white pi pi-cog text-lg"></i>
      <span class="settings__text">Settings</span>
    </a>
    <a class="sidebar__link settings__link--relative" href="#">
      <i class="text-white pi pi-envelope text-lg"></i>
      <span class="settings__text">Messages</span>
      <span class="settings__badge"></span>
    </a>
  </div>

  <!-- Footer -->
  <a class="sidebar__footer" href="#">
    <i class="text-white pi pi-sign-out text-lg"></i>
    <span class="footer__text">Sign Out</span>
  </a>
  
</div>