@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

  .data__container {
    background-color: #ffffff;
    padding: 50px 50px;
  }
  
  .data__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .data__content{
    width: 100%;
    height: 100%;
    margin-top: 40px;
    border-radius: 5px;
    border: 2.3px solid #ebeded;
  }

  .data__title {
    font-size: 26px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: rgb(78, 77, 77);
    text-transform: capitalize;
    color: #333;
  }
  
  .search__bar{
    width: 23%;
    margin: 10px 20px;
    border-radius: 50px;
    background-color:#f4f6fa;
    padding: 4px 25px;
  }

  .create__docter__button{
    background-color: #111827;
    color: white;
    padding: 18px 16px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    transition: all .5s ease-in-out;
  }

  .create__docter__button:hover{
    background-color: rgb(25, 36, 59);
  }
  
  .search__input{
    width: 90%;
    padding: 12px 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 18px;
    background-color:#f4f6fa;
  }
  .search__icons{
   width: 18px;
  }

  
  .search__input:focus {
    outline: none;
  }
  
  .user__table {
    width: 100%;
    margin-top: 32px;
    background-color: white;
    border-collapse: collapse;
  }
  
  .table__header {
    background-color: #f4f6fa;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    
  }
  
  .table__header__cell {
    padding: 18px 40px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: rgb(91, 91, 91);
    text-align: left;

  }
  
  .table__row {
    border-bottom: 2px solid #f1f5f9;
  }
  
  .table__cell {
    padding: 18px 40px;
    font-size: 17px;
    text-align: left;
    color: rgb(108, 107, 107);
  }
  .main__cell{
    color: black;
    font-weight: 500;
  }
   
  .no__data__found {
    text-align: center;
    padding: 32px;
    color: gray;
  }
  
  .no__data__image {
    width: 350px;
  }
  

  .action__container {
    position: relative;
    outline: none;
  }

  .action__button{
    border: none;
    background-color: transparent;
  }
  
  .table__action__icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  
  .dropdown__menu {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 8px 0;
  }
  
  .dropdown__item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 14px;
    color: #333;
  }
  
  .dropdown__item:hover {
    background-color: #f5f5f5;
  }
  
  .dropdown__icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  
  
  

